* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

input {
  color: gray;
  font-size: 1.2rem;
  width: 80%;
  margin-right: 15px;
}

.btn {
  font-size: 18px;
  background-color: blueviolet;
  border: none;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms;
}

.btn:hover {
  background-color: blue;
}

.card-grid {
  display: flex;
  flex-flow: row wrap;
}

.card {
  align-content: center;
  border: 1px solid #333;
  border-radius: 6px;
  margin-bottom: 5px;
  margin-right: 10px;
  overflow: hidden;
  width: 30%;
}

.card p {
  padding: 5px;
  text-align: center;
  margin: 0 auto;
}

.card img {
  max-height: 170px;
}